* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(-20deg, rgb(0, 218, 242), rgb(0, 178, 198), rgb(0, 137, 168), rgb(0, 107, 101));
    background-repeat: no-repeat;
    padding: 100px;
    padding-bottom: 2000px;
}

img {
    display: block;
}

a {
    text-decoration-line: none;
    display: inline-block;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-block: 0;
}

.container {
    width: 1240px;
    margin-inline: auto;
    padding-inline: 20px;
}

.bgg-wrappar {
    background: linear-gradient(-20deg, rgb(0, 218, 242), rgb(0, 178, 198), rgb(0, 137, 168), rgb(0, 107, 101));
    padding-bottom: 300px;
    
}

.bgg-wrappar-hero {
    padding-top: 150px;
    
}

.car-name {
    text-align: center;
    color: #fff;
}

.car-desc {
    color: #fff;
}


.imgp {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

/* .car-img-one {
    
} */

.car-img-two {
    border-radius: 12.67px;
}

.car-link {
    padding: 15px 20px;
    background: linear-gradient(-20deg, rgb(0, 218, 242), rgb(0, 178, 198), rgb(0, 137, 168), rgb(0, 107, 101));
    border-radius: 6px;
    color: white;
    width: max-content;
    margin-inline: 500px;
}

.car-link:hover {
    padding: 15px 20px;
    background: linear-gradient(-20deg, rgb(0, 218, 242), rgb(0, 178, 198), rgb(0, 137, 168), rgb(0, 107, 101));
    border-radius: 6px;
    color: white;
    width: max-content;
    margin-inline: 500px;
    transform: scale(1.3);
    transition: 1s;
}

.buy-or-exit {
    display: flex;
    align-items: center;
    width: max-content;
}

.buy {
    position: absolute;
    right: 691px;
    padding: 15px 20px;
    border-radius: 12px;
    background: linear-gradient(43deg, rgb(0, 218, 242), rgb(0, 178, 198), rgb(0, 137, 168), rgb(0, 107, 101));
    color: gold;
}
.buy:hover {
    position: absolute;
    right: 691px;
    padding: 15px 20px;
    border-radius: 12px;
    background: linear-gradient(43deg, rgb(0, 218, 242), rgb(0, 178, 198), rgb(0, 137, 168), rgb(0, 107, 101));
    color: gold;
    transform: scale(1.2);
    transition:1.3s;
}

.car-decss {
    font-weight: 25px;
    color: gold;
}

.no {
    margin-top: 30px;
    padding: 10px 19px;
    background-color: darkgoldenrod;
    color: gold;
    border-radius: 15px;
    margin-right: 11px;
}

.go {
    margin-top: 30px;
    padding: 10px 19px;
    background-color:darkgoldenrod;
    color: gold;
    border-radius: 15px;
}

/* complate html  start*/

.email {
    padding: 15px 20px;
    border-radius:12px;
}

.password {
    padding: 15px 20px;
    border-radius:12px;
}

.name { 
    padding: 15px 20px;
    border-radius:12px;
}

.bank {
    padding: 15px 20px;
    border-radius:12px;
}

.buy-car {
    border-radius: 12.32px;
    padding: 10px 15px;
    color: whitesmoke;
    background: linear-gradient(182deg, rgb(0, 218, 242), rgb(0, 178, 198), rgb(0, 137, 168), rgb(0, 107, 101));
}
/* hjjgjgkgfkghfkgfkghfhf */
.email:invalid  {
    border: 1px solid green;
    background-color: rgb(25, 173, 58);
}

.password:invalid  {
    border: 1px solid green;
    background-color: rgb(25, 173, 58);
}

.name:invalid  { 
    border: 1px solid green;
    background-color: rgb(25, 173, 58);
}

.bank:valid  {
    border: 1px solid red;
    background-color: rgb(228, 35, 35);
}
.email:valid  {
    border: 1px solid red;
    background-color: rgb(228, 35, 35);
}

.password:valid  {
    border: 1px solid red;
    background-color: rgb(228, 35, 35);
}

.name:valid  { 
    border: 1px solid red;
    background-color: rgb(228, 35, 35);
}

input::placeholder {
    color: #fff;
}

.bank:valid  {
    border: 1px solid red;
    background-color: rgb(228, 35, 35);
}



.win {
    text-align: center;
}

.inputs {
    width: max-content;
    margin-inline: 602px;
}

.tell {
    width: 300px;
    color: aqua;
}

.adres {
    width: 300px;
    color: aqua;
}

.see-car {
    padding: 12px 20px;
     background: linear-gradient(182deg, rgb(0, 218, 242), rgb(0, 178, 198), rgb(0, 137, 168), rgb(0, 107, 101));
    color: gold;

}

/* complate html end */



.key {
    position: absolute;
    left: 337px;
    width: 135px;
    top: 60px;
    animation-name: animation;
    animation-duration: 3.4s;
    animation-iteration-count: infinite;
}

.car-anim {
    position: absolute;
    right: 314px;
    width: 135px;
    top: 42px;
    animation-name: animation;
    animation-duration: 3.4s;
    animation-iteration-count: infinite;
}

@keyframes animation {
    
    0% {
        transform:rotate(-10deg ) ;
    }

    10% {
        transform: rotate(-20deg);
    }

    20% {
        transform: rotate(30deg);
    }

    30% {
        transform: rotate(40deg);
    }

    40% {
        transform: rotate(50deg);
    }

    50% {
        transform: rotate(60deg);
    }

    60% {
        transform: rotate(70deg);
    }

    70% {
        transform: rotate(80deg);
    }

    80% {
        transform: rotate(90deg);
    }

    90% {
        transform: rotate(120deg);
    }

    100% {
        transform: rotate(160deg);
    }
}

